﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Main.aspx.cs" Inherits="Proof_Of_Concept.Main" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <%-- <script src="poc.js"></script>--%>
    <link href="Style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <canvas id="myCanvas" width="1800" height="700" style="border: 0px solid #d3d3d3;">Your browser does not support the HTML5 canvas tag.</canvas>
    <br />
    <br />
    <table align="center">
        <tr>
            <td>
                <h3 align="center">Flooring </h3>
                <br />
                <input id="btntile" type="button" class="btntile" onclick="floorTile()" />
                <input id="btnvinyl" type="button" class="btnvinyl" onclick="floorVinyl()" />
                <input id="btncarpet" type="button" class="btncarpet" onclick="floorCarpet()" />
                <input id="btnhardwood" type="button" class="btnhardwood" onclick="floorHardwood()" />

            </td>
            <td style="width: 50px">&nbsp;</td>

            <td>
                <h3 align="center">Walls </h3>
                <br />
                <input id="btntilewall" type="button" class="btntilewall" onclick="wallTile()" />
                <input id="btnhardwoodwall" type="button" class="btnhardwoodwall" onclick="wallHardwood()" />

            </td>
        </tr>
    </table>

    <script>

        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        var url;
       
        ctx.transform(1, -0.3, 0, 1, 900, 200);
        ctx.fillStyle = "blue";
        ctx.fillRect(0, 0, 300, 300);

        ctx.transform(1, 0.7, 0, 1, 300, 0);
        ctx.fillStyle = "red";
        ctx.fillRect(0, 0, 300, 300);

        ctx.transform(1, 0, -2, 1.4, -0.5, 300);
        ctx.fillStyle = "hotpink";
        ctx.fillRect(0, 0, 300, 150);

        function floorTile() {
            url = "/Images/tile.jpg";
            Floor();
        }

        function floorVinyl() {
            url = "/Images/vinyl.jpg";
            Floor();
        }

        function floorCarpet() {
            url = "/Images/carpet.jpg";
            Floor();
        }       

        function floorHardwood() {
            url = "/Images/hardwood.jpg";
            Floor();
        }

        function wallTile() {
            url = "/Images/tile.jpg";
            Walls();
        }

        function wallHardwood() {
            url = "/Images/hardwood.jpg";
            Walls();
        }

        function Walls() {

            ctx.setTransform(1, -0.3, 0, 1, 900, 200);
            var count1 = 0;
            var img1 = new Image();
            img1.src = url;
            img1.onload = function () { 
                for (var w = 0; w < 300; w += (img1.width/2)) {
                    for (var h = 0; h < 300; h += (img1.height / 2)) {
                        ctx.drawImage(img1, w, h, 37.5, 37.5);
                        count1 += 1;
                        if (count1 == 32) {
                            w = 37.5;
                            h = -37.5;
                        }
                    }
                    
                }

                ctx.transform(1, 0.7, 0, 1, 300, 0);
                var count2 = 0;
                var img2 = new Image();
                img2.src = url;
                img2.onload = function () {                   
                    for (var w = 0; w < 300; w += (img2.width / 2)) {
                        for (var h = 0; h < 300; h += (img2.height / 2)) {
                            ctx.drawImage(img2, w, h, 37.5, 37.5);
                            count2 += 1;
                            if (count2 == 32) {
                                w = 37.5;
                                h = -37.5;
                            }
                        }
                    }
                }
            }
        }

        function Floor() {

            ctx.setTransform(1, 0.4, -3.4, 1, 1200, 410);           
            var img1 = new Image();
            img1.src = url;
            img1.onload = function () {                
                for (var w = 0; w < 300; w += (img1.width/4)) {
                    for (var h = 0; h < 80; h += (img1.height/7)) {                    
                        ctx.drawImage(img1, w, h, 40, 13.8);

                        //for (var w = 0; w < 300; w += (img1.width / 5)) {
                        //    for (var h = 0; h < 150; h += (img1.height / 4)) {
                        //        ctx.drawImage(img1, w, (h / 2), 31, 23.5);

                        //for (var w = 0; w < 300; w += (img1.width / 2)) {
                        //    for (var h = 0; h < 150; h += (img1.height / 2)) {
                        //        ctx.drawImage(img1, w, (h / 2), 150, 51);
                    }
                }
            }
        }

        //function Walls() {

        //    ctx.setTransform(1, -0.3, 0, 1, 900, 200);
        //    var img1 = new Image();
        //    img1.src = url;
        //    img1.onload = function () {
        //        ctx.drawImage(img1, 0, 0, 300, 300);

        //        ctx.transform(1, 0.7, 0, 1, 300, 0);
        //        var img2 = new Image();
        //        img2.src = url;
        //        img2.onload = function () {
        //            ctx.drawImage(img2, 0, 0, 300, 300);
        //        }
        //    }
        //}

        //function Floor() {
           
        //    ctx.setTransform(1, 0.4, -3.4, 1, 1200, 410);
            
        //    var img1 = new Image();
        //    img1.src = url;
        //    img1.onload = function () {
        //        ctx.drawImage(img1, 0, 0, 300, 89);
        //    }
        //}

    </script>

</body>
</html>
