﻿

.btntile, .btntilewall {
    width: 100px;
    height: 50px;
    background-image: url('/Images/btntile.jpg');
}

.btnvinyl {
    width: 100px;
    height: 50px;
    background-image: url("/Images/btnvinyl.jpg");
}

.btncarpet {
    width: 100px;
    height: 50px;
    background-image: url("/Images/btncarpet.jpg");
}

.btnhardwood, .btnhardwoodwall {
    width: 100px;
    height: 50px;
    background-image: url("/Images/btnhardwood.jpg");
}

